/*animation bouttons*/
.btn1:hover {
  opacity: 0.8;
  box-shadow: 0px 5px 12px 3px #bababa;
}

/*animation coeurs*/
.btn-heart:active .gradient {
  color: transparent;
  z-index: -1;
}
.btn-heart:active .nograd {
  z-index: 1;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: height 0.9s linear;
  -moz-transition: height 0.9s linear;
  transition: height 0.9s linear;
  height: 100%;
}

/*animation coches*/
.cards article .container .tiles:active .check {
  -webkit-transition: width 0.3s linear;
  -moz-transition: width 0.3s linear;
  transition: width 0.3s linear;
  width: 23%;
}
.cards article .container .tiles:active .check .fas {
  transition: transform 0.3s linear;
  transform: rotate(360deg);
}
.cards article .container .tiles:not(:active) .check {
  -webkit-transition: width 0.3s linear;
  -moz-transition: width 0.3s linear;
  transition: width 0.3s linear;
  width: 0%;
}

/*animation des menus*/
.tiles-starter, .tiles-main-course, .tiles-desserts {
  animation: 1s linear forwards slide;
  -moz-animation: 1s linear forwards slide;
  -webkit-animation: 1s linear forwards slide;
}

.tiles-starter {
  animation-delay: 0.4s;
}

.tiles-main-course {
  animation-delay: 0.8s;
}

.tiles-desserts {
  animation-delay: 1.2s;
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-moz-keyframes slide {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-webkit-keyframes slide {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
/*animation loader*/
#loader {
  animation: loading 3s ease-in forwards;
  -moz-animation: loading 3s ease-in forwards;
  -webkit-animation: loading 3s ease-in forwards;
}
#loader .loader-bars, #loader .loader-bars:before, #loader .loader-bars::after {
  animation: grow 1s ease-in-out infinite;
  -moz-animation: grow 1s ease-in-out infinite;
  -webkit-animation: grow 1s ease-in-out infinite;
}
#loader .loader-bars {
  animation-delay: 0.15s;
}
#loader .loader-bars:before {
  animation-delay: 0.25s;
}
#loader .loader-bars::after {
  animation-delay: 0.45s;
}

@keyframes loading {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@-moz-keyframes loading {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes loading {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes grow {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  50% {
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    transform: scaleY(0);
    opacity: 0;
  }
}
@-moz-keyframes grow {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  50% {
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    transform: scaleY(0);
    opacity: 0;
  }
}
@-webkit-keyframes grow {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  50% {
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    transform: scaleY(0);
    opacity: 0;
  }
}
body {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif, serif;
}

h1, h2, h3 {
  font-family: "Roboto", sans-serif, serif;
}

h1 {
  font-size: 1.7em;
}

.shrik {
  font-family: "Shrikhand", cursive;
  font-size: 1.6em;
}

h2 {
  font-size: 1.3em;
  margin-left: 15px;
}

h3 {
  font-size: 1em;
  font-weight: normal;
  margin-left: 15px;
  margin-bottom: 25px;
}

p, ul {
  font-size: 0.9em;
}

a {
  text-decoration: none;
  color: black;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

span {
  font-weight: bold;
  font-size: 1.1em;
}

.underline {
  font-size: 1em;
  padding-bottom: 5px;
  font-weight: normal;
  border-bottom: solid 3px #99E2D0;
}

.btn1 {
  width: 190px;
  border: transparent;
  outline: none;
  border-radius: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 15px 0px 15px 0px;
  color: #fff;
  box-shadow: 0px 5px 12px 0px #c6c6c6;
}

.btn-heart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  position: relative;
  border: transparent;
  background-color: #fff;
}
.btn-heart .gradient, .btn-heart .nograd {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-heart .gradient {
  background-color: transparent;
  color: black;
}
.btn-heart .nograd {
  z-index: -1;
  width: 100%;
  height: 0;
}

.btn-menu {
  background-color: #f6f6f6;
}

/*acceuil*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 15px;
}
header form button {
  border: transparent;
  background-color: transparent;
  outline: none;
  margin-left: -60px;
}

/*section loader*/
#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#FF79DA, #9356DC, #99E2D0);
}
#loader .loader-bars, #loader .loader-bars:before, #loader .loader-bars::after {
  background: #fff;
  opacity: 0;
  width: 10px;
  height: 40px;
}
#loader .loader-bars {
  width: 10px;
  height: 40px;
}
#loader .loader-bars:before {
  content: "";
  position: absolute;
  right: 15px;
}
#loader .loader-bars::after {
  content: "";
  position: absolute;
  left: 15px;
}

/*section localisation*/
#location {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
#location .locationfield {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: transparent;
  outline: none;
  font-weight: bold;
  background-color: #EAEAEA;
  box-shadow: 0px -3px 2px 0px #cfcfcf;
  padding: 15px 0px 15px 0px;
}
#location .locationfield input {
  width: 150px;
  outline: none;
  border: transparent;
  background-color: #EAEAEA;
  font-weight: bold;
  font-size: 1em;
}
#location .locationfield label {
  margin-right: 10px;
}
#location article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f6f6f6;
  padding-bottom: 50px;
}
#location article p {
  margin-top: -10px;
  padding-bottom: 20px;
  font-size: 1em;
}

/*section fonctionnement*/
#operation {
  margin-bottom: 50px;
}
#operation article {
  display: flex;
  flex-direction: column;
}
#operation article h2 {
  margin-bottom: 25px;
}
#operation article div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#operation article div div {
  width: 85%;
  height: 60px;
  display: flex;
  flex-direction: row;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0 3px 15px 2px #e2e2e2;
  margin-bottom: 20px;
}
#operation article div div .number {
  background-color: #9356DC;
  color: #fff;
  border-radius: 50%;
  padding: 2px 7px 2px 7px;
  margin-left: -10px;
}
#operation article div div .fas {
  color: #7e7e7e;
}
#operation article div div p {
  margin-right: 20px;
}
#operation article div .purple {
  background-color: #f5EDFF;
}
#operation article div .purple .fas {
  color: #9356DC;
}

/*section restaurants*/
#restaurants article {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  padding-bottom: 40px;
  padding-top: 25px;
}
#restaurants article div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#restaurants article div figure {
  width: 90%;
  height: 235px;
  border-radius: 15px;
  box-shadow: 0 0 5px 0.2em #e2e2e2;
  position: relative;
  background-color: #fff;
}
#restaurants article div figure img {
  width: 100%;
  height: 75%;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
#restaurants article div figure .new {
  background-color: #99E2D0;
  color: #008766;
  position: absolute;
  border-radius: 2px;
  top: 0px;
  right: 10px;
  padding: 3px 5px 3px 5px;
}
#restaurants article div figure figcaption {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: -10px;
  padding: 0px 10px 0px 10px;
}

/*footer acceuil et menu*/
footer {
  background-color: #353535;
  color: #fff;
  padding: 15px 0px 20px 0px;
}
footer ul {
  display: flex;
  flex-direction: column;
  margin-left: -20px;
}
footer ul li {
  list-style: none;
  margin-bottom: 5px;
}
footer ul li img {
  margin-left: -50px;
}
footer a {
  color: #fff;
}
footer .fas {
  margin-right: 15px;
}

/*menu*/
.cards div img {
  width: 100%;
  object-fit: cover;
  height: 260px;
  margin-bottom: -60px;
}
.cards article {
  position: relative;
  z-index: 100;
  background-color: #f6f6f6;
  border-radius: 25px 25px 0px 0px;
  padding-bottom: 40px;
}
.cards article .titlemenu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.cards article .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards article .container .btn-order {
  margin: 25px;
}
.cards article .container .tiles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 93%;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 0 5px 0.2em #e2e2e2;
  border-radius: 15px;
  margin-bottom: 20px;
  opacity: 0;
}
.cards article .container .tiles div {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  overflow: hidden;
  padding: 0px 15px 0px 15px;
}
.cards article .container .tiles div .name {
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.cards article .container .tiles div .price {
  display: flex;
  justify-content: center;
  font-size: 0.9em;
  font-weight: bold;
}
.cards article .container .tiles .check {
  width: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 15px 15px 0px;
  color: #fff;
  background-color: #99E2D0;
  overflow: hidden;
}

@media (min-width: 768px) and (max-width: 1023px) {
  body {
    width: auto;
  }

  header form button {
    margin-left: -250px;
  }

  #location form input {
    font-size: 1.1em;
  }

  #operation article div {
    flex-direction: row;
    justify-content: space-around;
  }
  #operation article div div {
    width: 235px;
    align-items: center;
    margin-bottom: 20px;
  }

  #restaurants article div figure {
    width: 80%;
  }

  .cards article .cardscontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cards article .cardscontainer .container .tiles {
    width: 550px;
  }

  footer ul {
    margin: 0;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  body {
    width: auto;
  }

  header form button {
    margin-left: -350px;
  }

  #location form input {
    font-size: 1.1em;
  }

  #operation article div {
    flex-direction: row;
    justify-content: space-around;
  }
  #operation article div div {
    width: 300px;
    align-items: center;
    margin-bottom: 20px;
  }
  #operation article div div .number {
    margin-left: -20px;
  }

  #restaurants article div {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  #restaurants article div figure {
    height: 250px;
    width: 40%;
    margin-bottom: 30px;
  }

  .cards article .cardscontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cards article .cardscontainer .container .tiles {
    width: 550px;
  }

  footer ul {
    margin: 0;
  }
}
@media (min-width: 1440px) {
  body {
    width: auto;
  }
  body p {
    font-size: 1.1em;
  }
  body h1 {
    font-size: 1.8em;
  }
  body h2 {
    font-size: 1.5em;
    margin-left: 30px;
  }
  body h3 {
    font-size: 1.2em;
  }
  body .shrik {
    font-size: 1.8em;
  }
  body .btn1 {
    font-size: 1em;
    width: 220px;
  }

  header form button {
    margin-left: -380px;
  }

  #location form input {
    font-size: 1.1em;
  }

  #operation article div {
    flex-direction: row;
    justify-content: space-evenly;
  }
  #operation article div div {
    width: 400px;
    align-items: center;
    margin-bottom: 20px;
  }
  #operation article div div .number {
    margin-left: -48px;
  }

  #restaurants article div {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  #restaurants article div figure {
    height: 280px;
    width: 40%;
    margin-bottom: 30px;
  }

  .cards article .cardscontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cards article .cardscontainer .container .tiles {
    width: 650px;
  }

  footer ul {
    font-size: 1em;
    margin: 0;
  }
}
@media (min-width: 768px) {
  button {
    cursor: pointer;
  }

  /*animation coeurs*/
  .btn-heart:hover .gradient {
    color: transparent;
    z-index: -1;
  }
  .btn-heart:hover .nograd {
    z-index: 1;
    background: -webkit-linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: height 0.9s linear;
    -moz-transition: height 0.9s linear;
    transition: height 0.9s linear;
    height: 100%;
  }

  /*animation coches*/
  .cards article .container .tiles:hover {
    cursor: pointer;
  }
  .cards article .container .tiles:hover .check {
    -webkit-transition: width 0.3s linear;
    -moz-transition: width 0.3s linear;
    transition: width 0.3s linear;
    width: 23%;
  }
  .cards article .container .tiles:hover .check .fas {
    transition: transform 0.3s linear;
    transform: rotate(360deg);
  }
  .cards article .container .tiles:not(:hover) .check {
    -webkit-transition: width 0.3s linear;
    -moz-transition: width 0.3s linear;
    transition: width 0.3s linear;
    width: 0%;
  }
}

/*# sourceMappingURL=style.css.map */
