/*animation bouttons*/
.btn1 {
    &:hover {
        opacity: 0.8;
        box-shadow: 0px 5px 12px 3px #bababa;
    }
}
/*animation coeurs*/
.btn-heart {
    &:active {
        .gradient {
            color: transparent;
            z-index: -1;
        }
        .nograd {
            z-index: 1;
            background: -webkit-linear-gradient($primary, $secondary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-transition: height 0.6s linear;
            -moz-transition: height 0.6s linear;
            transition: height 0.6s linear;
            height: 100%;
        }
    }
    &:not(:active) {
        .nograd {
            -webkit-transition: height 0.6s linear;
            -moz-transition: height 0.6s linear;
            transition: height 0.6s linear;
            height: 0;
        }
    }
}
/*animation coches*/
.cards {
    article {
        .container {
            .tiles {
                &:active {
                    .check {
                    -webkit-transition: width 0.3s linear;
                    -moz-transition: width 0.3s linear;
                    transition: width 0.3s linear;
                    width: 23%;
                        .fas {
                            transition: transform 0.3s linear;
                            transform: rotate(360deg)
                        }
                    }  
                }
                &:not(:active) {
                    .check {
                        -webkit-transition: width 0.3s linear;
                        -moz-transition: width 0.3s linear;
                        transition: width 0.3s linear;
                        width: 0%;
                    }
                }
            } 
        }
    }
}
/*animation des menus*/
.tiles-starter , .tiles-main-course , .tiles-desserts {
    animation: 1s linear forwards slide;
    -moz-animation: 1s linear forwards slide;
    -webkit-animation: 1s linear forwards slide; 
}
.tiles-starter {
    animation-delay: 0.4s;
}
.tiles-main-course {
    animation-delay: 0.8s;
}
.tiles-desserts {
    animation-delay: 1.2s;
}
@keyframes slide {
    from {
        opacity:0;
        transform: translateY(15px)
    }
    to {
        opacity:1;
        transform: translateY(0px)
    }
}
@-moz-keyframes slide {
    from {
        opacity:0;
        transform: translateY(15px)
    }
    to {
        opacity:1;
        transform: translateY(0px)
    }
}
@-webkit-keyframes slide {
    from {
        opacity:0;
        transform: translateY(15px)
    }
    to {
        opacity:1;
        transform: translateY(0px)
    }
}
/*animation loader*/
#loader {
    animation: loading 3s ease-in forwards;
    -moz-animation: loading 3s ease-in forwards;
    -webkit-animation: loading 3s ease-in forwards;
    .loader-bars , .loader-bars:before , .loader-bars::after {
        animation: grow 1s ease-in-out infinite;
        -moz-animation: grow 1s ease-in-out infinite;
        -webkit-animation: grow 1s ease-in-out infinite;
    }
    .loader-bars {
        animation-delay: .15s
    }
    .loader-bars:before {
        animation-delay: .25s
    }
    .loader-bars::after {
        animation-delay: .45s
    }
}
@keyframes loading {
    from {
        opacity: 1;
        visibility: visible;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}
@-moz-keyframes loading {
    from {
        opacity: 1;
        visibility: visible;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}
@-webkit-keyframes loading {
    from {
        opacity: 1;
        visibility: visible;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes grow {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }
    50% {
        transform: scaleY(1);
        opacity: 1;
    }
    100% {
        transform: scaleY(0);
        opacity: 0;
        
    }
}
@-moz-keyframes grow {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }
    50% {
        transform: scaleY(1);
        opacity: 1;
    }
    100% {
        transform: scaleY(0);
        opacity: 0;
        
    }
}
@-webkit-keyframes grow  {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }
    50% {
        transform: scaleY(1);
        opacity: 1;
    }
    100% {
        transform: scaleY(0);
        opacity: 0;
        
    }
}
