.starter {
    animation: 1s linear 0.4s forwards starter-slide;
    -moz-animation: 1s linear 0.4s forwards starter-slide;
    -webkit-animation: 1s linear 0.4s forwards starter-slide;
    -o-animation: 1s linear 0.4s forwards starter-slide;
}
@keyframes starter-slide {
    from {
        opacity:0;
        transform: translateY(15px)
    }
    to {
        opacity:1;
        transform: translateY(0px)
    }
}
@-moz-keyframes starter-slide {
    from {
        opacity:0;
        transform: translateY(15px)
    }
    to {
        opacity:1;
        transform: translateY(0px)
    }
}
@-webkit-keyframes starter-slide {
    from {
        opacity:0;
        transform: translateY(15px)
    }
    to {
        opacity:1;
        transform: translateY(0px)
    }
}
.main-course {
    animation: 1s linear 1s forwards main-course-slide;
    -moz-animation: 1s linear 1s forwards main-course-slide;
    -webkit-animation: 1s linear 1s forwards main-course-slide;
    -o-animation: 1s linear 0.4s forwards starter-slide;
}
@keyframes main-course-slide {
    from {
        opacity:0;
        transform: translateY(15px)
    }
    to {
        opacity:1;
        transform: translateY(0px)
    }
}
@-moz-keyframes main-course-slide {
    from {
        opacity:0;
        transform: translateY(15px)
    }
    to {
        opacity:1;
        transform: translateY(0px)
    }
}
@-webkit-keyframes main-course-slide {
    from {
        opacity:0;
        transform: translateY(15px)
    }
    to {
        opacity:1;
        transform: translateY(0px)
    }
}
.desserts {
    animation: 1s linear 1.5s forwards desserts-slide;
    -moz-animation: 1s linear 1.5s forwards desserts-slide;
    -webkit-animation: 1s linear 1s forwards main-course-slide;
    -o-animation: 1s linear 0.4s forwards starter-slide;
}
@keyframes desserts-slide {
    from {
        opacity:0;
        transform: translateY(15px)
    }
    to {
        opacity:1;
        transform: translateY(0px)
    }
}
@-moz-keyframes desserts-slide {
    from {
        opacity:0;
        transform: translateY(15px)
    }
    to {
        opacity:1;
        transform: translateY(0px)
    }
}
@-webkit-keyframes desserts-slide {
    from {
        opacity:0;
        transform: translateY(15px)
    }
    to {
        opacity:1;
        transform: translateY(0px)
    }
}