/*animation bouttons*/
.btn1 {
    &:hover {
        opacity: 0.8;
        box-shadow: 0px 5px 10px 3px #c6c6c6;
    }
}
/*animation coches*/
.cards {
    article {
        .container {
            .tiles {
                &:active {
                    .check {
                    -webkit-transition: width 0.3s linear;
                    -moz-transition: width 0.3s linear;
                    -o-transition: width 0.3s linear;
                    transition: width 0.3s linear;
                    width: 23%;
                        .fas {
                            transition: transform 0.3s linear;
                            transform: rotate(360deg)
                        }
                    }  
                }
                &:not(:active) {
                    .check {
                        -webkit-transition: width 0.3s linear;
                        -moz-transition: width 0.3s linear;
                        -o-transition: width 0.3s linear;
                        transition: width 0.3s linear;
                        width: 0%;
                    }
                }
            } 
        }
    }
}
/*animation des menus*/
.tiles-starter {
    animation: 1s linear 0.4s forwards starter-slide;
    -moz-animation: 1s linear 0.4s forwards starter-slide;
    -webkit-animation: 1s linear 0.4s forwards starter-slide;
}
@keyframes starter-slide {
    from {
        opacity:0;
        transform: translateY(15px)
    }
    to {
        opacity:1;
        transform: translateY(0px)
    }
}
@-moz-keyframes starter-slide {
    from {
        opacity:0;
        transform: translateY(15px)
    }
    to {
        opacity:1;
        transform: translateY(0px)
    }
}
@-webkit-keyframes starter-slide {
    from {
        opacity:0;
        transform: translateY(15px)
    }
    to {
        opacity:1;
        transform: translateY(0px)
    }
}
.tiles-main-course {
    animation: 1s linear 1s forwards main-course-slide;
    -moz-animation: 1s linear 1s forwards main-course-slide;
    -webkit-animation: 1s linear 1s forwards main-course-slide;
}
@keyframes main-course-slide {
    from {
        opacity:0;
        transform: translateY(15px)
    }
    to {
        opacity:1;
        transform: translateY(0px)
    }
}
@-moz-keyframes main-course-slide {
    from {
        opacity:0;
        transform: translateY(15px)
    }
    to {
        opacity:1;
        transform: translateY(0px)
    }
}
@-webkit-keyframes main-course-slide {
    from {
        opacity:0;
        transform: translateY(15px)
    }
    to {
        opacity:1;
        transform: translateY(0px)
    }
}
.tiles-desserts {
    animation: 1s linear 1.5s forwards desserts-slide;
    -moz-animation: 1s linear 1.5s forwards desserts-slide;
    -webkit-animation: 1s linear 1s forwards main-course-slide;
}
@keyframes desserts-slide {
    from {
        opacity:0;
        transform: translateY(15px)
    }
    to {
        opacity:1;
        transform: translateY(0px)
    }
}
@-moz-keyframes desserts-slide {
    from {
        opacity:0;
        transform: translateY(15px)
    }
    to {
        opacity:1;
        transform: translateY(0px)
    }
}
@-webkit-keyframes desserts-slide {
    from {
        opacity:0;
        transform: translateY(15px)
    }
    to {
        opacity:1;
        transform: translateY(0px)
    }
}